<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LC_Calender.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B4261F661E31D9F200431AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4261F821E31D9F200431AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4261F8D1E31D9F200431AD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
